.product-container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    padding-top: 2em !important;
    margin-bottom: 2em !important;
    margin-left: 2em;
    margin-top: 3em;
    box-shadow: 0px 0px 20px 0px#868081;
    .product-top {
        max-height: 220px;
        img {
            height: 200px;
            width: 300px;
            box-shadow: 0px 0px 10px 0px#868081;
        }
    }
    .product-bottom {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5em;
        padding-bottom: 7em;
        h3 {
            font-size: 17px;
            font-weight: bold;
            max-width: 250px;
            text-align: center;
        }
        h5 {
            font-size: 20px;
            max-width: 250px;
            margin-top: 1em;
            color: #ff667d;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 1000.1px) {
    .product-container {
        width: 300px;
        margin-left: 30px;
        margin-right: 30px;
        img {
            max-width: 250px;
        }
    }
}