.product-container {
    background-color: rgb(255, 255, 255);
    width: 70%;
    &:hover {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
    }
    .product-top {
        img {
            width: 100%;
        }
    }
    .product-bottom {
        h3 {
            font-size: 20px;
            font-weight: bold;
        }
        h5 {
            font-size: 15px;
            padding-bottom: 1rem;
        }
    }
}