.p-slider {
    position: absolute;
    margin-top: 2em;
    font-family: Marvel;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #44565f;
}

img {
    cursor: pointer;
}