.title-box {
    background: rgb(235, 74, 74);
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    p {
        margin-top: 0.4em;
        font-size: 2em !important;
    }
    &::after {
        content: "";
        border-top: 40px solid rgb(235, 74, 74);
        border-right: 50px solid transparent;
        position: absolute;
        display: flex;
        margin-top: 0px;
        margin-left: 170px;
    }
}

.products-home {
    display: flex;
    align-items: start;
    overflow: hidden;
    overflow-x: scroll;
}

.products-home::-webkit-scrollbar {
    width: 0;
}